<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fake2edison.mapper.TemplateMapper" >
    <resultMap id="BaseResultMap" type="com.fake2edison.entity.Template">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="uid" jdbcType="INTEGER" property="uid"></result>
        <result column="statue" jdbcType="INTEGER" property="statue"></result>
        <result column="intime" jdbcType="DATE" property="insert_time"></result>
        <result column="content" jdbcType="VARCHAR" property="content"></result>
        <result column="summary" jdbcType="VARCHAR" property="summary"></result>
        <result column="title" jdbcType="VARCHAR" property="title"></result>
        <result column="templateimg" jdbcType="VARCHAR" property="templateimg"></result>
        <result column="height" jdbcType="INTEGER" property="height"></result>
    </resultMap>
    <select id="selectTemplateByUserId" resultMap="BaseResultMap">
        select
        *
        from Template
        where uid = #{uid}
    </select>
    <select id="getAllTemplate" resultMap="BaseResultMap">
        SELECT
        id,uid,statue,intime,summary,title,templateimg
        FROM Template
        WHERE statue = 1
        ORDER BY height DESC
        limit 0,#{page}
    </select>
    <select id="getFavoriteTemplate" resultMap="BaseResultMap">
        SELECT
        Template.id,Template.uid,statue,intime,summary,title,templateimg
        from Template JOIN Favorites
        ON Template.id = Favorites.cid
        WHERE Favorites.uid = #{uid} and Favorites.type = 1
        ORDER BY height DESC
        limit #{item}
    </select>
    <delete id="delTemplateById">
        DELETE FROM Template
        WHERE id = #{id} AND uid = #{uid}
    </delete>
    <insert id="insertTemplate">
        INSERT into
        Template(uid,statue,intime,summary,title,content,templateimg)
        VALUES (#{uid},#{statue},#{intime},#{summary},#{title},#{content},#{templateimg})
    </insert>
    <select id="getTemplateById" resultMap="BaseResultMap">
        select * from Template
        WHERE id = #{id}
    </select>
    <select id="getTemplateByUserAndPage" resultMap="BaseResultMap">
        select * from Template
        where uid = #{uid}
        limit #{page},8
    </select>
    <select id="getTemplateCountByUser" resultType="INTEGER">
        select count(id)
        from Template
        WHERE uid = #{uid}
    </select>
    <update id="addFavoritesByID">
        UPDATE Template
        SET height = height + 1
        WHERE id = #{id}
    </update>
    <update id="delFavoritesByID">
        UPDATE Template
        SET height = height - 1
        WHERE id = #{id}
    </update>
</mapper>