<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fake2edison.mapper.WeiboMapper" >
    <resultMap id="BaseResultMap" type="com.fake2edison.entity.Weibo">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="uid" jdbcType="VARCHAR" property="uid"></result>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="accesstoken" jdbcType="VARCHAR" property="accesstoken"></result>
        <result column="tokendate" jdbcType="DATE" property="tokendate"></result>
    </resultMap>
    <insert id="insertWeibo">
        INSERT into
        Weibo(uid,name,accesstoken)
        VALUES (#{uid},#{name},#{accesstoken})
    </insert>
    <select id="selectWeiboByWid" resultMap="BaseResultMap">
        SELECT uid,name
        from Weibo
        WHERE uid = #{wid}
    </select>
    <select id="selectWeiboByWidAll" resultMap="BaseResultMap">
        SELECT *
        from Weibo
        WHERE uid = #{wid}
    </select>
    <delete id="delWeiboByUid">
        DELETE FROM Weibo
        where uid = #{uid}
    </delete>
</mapper>